<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juniordev.gradleapp.mappers.MotorcycleMapper">
  <resultMap id="motorcycleMap" type="com.juniordev.gradleapp.beans.Motorcycle" autoMapping="true">
    <association property="brand" javaType="com.juniordev.gradleapp.beans.Brand" autoMapping="true">
    </association>
  </resultMap>
  <select id="selectByCondition" resultMap="motorcycleMap">
    select
      m.moto_no 
      , m.moto_name 
      , m.price 
      , m.comment 
      , m.brand_id 
      , b.brand_name 
    from
      motorcycle m
    left join brand b
      on m.brand_id = b.brand_id
    <where>
      <if test="brandId != null">
        m.brand_id = #{brandId}
      </if>
      <if test="keyword != null">
        AND m.moto_name like CONCAT('%', #{keyword}, '%')
      </if>
    </where>
    order by
      m.moto_no
  </select>
  <select id="selectByMotoNo" resultMap="motorcycleMap">
    select
      m.moto_no 
      , m.moto_name 
      , m.price 
      , m.comment 
      , m.brand_id 
      , m.version
      , m.create_date_time 
      , m.update_date_time 
      , b.brand_name 
    from
      motorcycle m
    left join brand b
      on m.brand_id = b.brand_id
    where
      m.moto_no = #{motoNo}
    order by
      m.moto_no
  </select>
</mapper>